body {
  background-color: #3A4A63;
  margin: 0;
}

.topnav {
  background-color: #2f3c54;
  overflow: hidden;
  height: 50px;
}

.topnav a {
  padding: 0px 0px 0px 450px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #EDEDED;
}

.card {
  background-color: #F4F7F5;
  border: 1px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  position: relative;
  height: 40px;
  width: 40%;
  left: 25%;
  padding: 10px;
  margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

/* h4 {
  text-align: center;
  position: relative;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

p {
  text-align: center;
  position: relative;
  font-family: 'Open Sans', sans-serif;
} */

.button{
    border: none;
    outline: none;
    background-color: #7EAAFE;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #ffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    top: 15%;
    left: 80%;
}

.button:hover{
    color: #ffff;
    background-color: #f9576b;
}
